body {
  background-color: rgb(255, 255, 255);
}

.img1 {
  height: 60%;
  width: 50%;
}

.img2 {
  margin-bottom: 50%;
  margin-left: 15%;
}

.formulario {
  margin-left: 50%;
  margin-top: -50%;
}

.form {
  font-size: 20px;
  color: rgb(51, 51, 51);
  font-family: "Inter";
  text-align: center;
  margin-top: 2%;
}

/* .box{
  height: 30px;
  width: 60%;
  font-size: 15px;
  border-radius: 10px;
  align-items: center;
  display: block;
  margin: 0 auto;
  border-color: rgb(43, 43, 43);
  border-width: 0.5px;
  z-index: 1;
} */
